*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    background-color: rgba(25, 24, 24, 0.954);
}
.card{
    width: 90%;
    max-width: 470px;
    margin: 20px auto ;
    padding: 30px 20px;
    background: linear-gradient(135deg , #00feda , #5b548a);
    border-radius: 20px;
    color: #fff; 
    text-align: center;

}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}
.search input{
    outline: 0;
    border: 0;
    padding: 10px 25px;
    color: #555;
    background-color: #ebfffc;
    border-radius: 30px;
    height: 60px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
   outline: 0;
    border: 0;
   background-color: #ebfffc;
   border-radius: 50px;
   cursor: pointer;
   height: 60px;
   width: 60px;
}
.weather-icon{
    max-width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind {
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 18px;
    display: none;
}